    <meta charset="utf-8"/>
    <a class="navbar-brand mr-auto mr-lg-0" href="/Top">TOP</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MY週報</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/Register">新規登録</a>
            <a class="dropdown-item" href="/MyList">投稿一覧</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">週報一覧</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/SearchDay">日付別一覧</a>
            <a class="dropdown-item" href="/SearchName">名前別一覧</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/UserList">ユーザー管理</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/">アカウント情報</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/Logout">ログアウト</a>
        </li>
        
      </ul>
    </div>

